.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 140px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .description {
    font-size: 20px;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 25px;
    line-height: 1.3;
    font-weight: bold;
    width: 100%;
    border-left: solid 4px rgb(15, 15, 15);
    padding-left: 10px;
  }
  
  .info {
    margin-bottom: 5px;
    text-align: left;
    line-height: 0.5;
  }
  
  .info p {
    font-size: 12px;
    color: #888;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .newPassword {
    margin-bottom: 20px;
  }
  
  .newPwInput {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
  }
  
  .passwordContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* 비밀번호 유효성 검사 메시지와의 간격 */
  }
  
  .eyeButton {
    background: none;
    border: none;
    padding: 10px;
    margin-left: -40px; /* 눈 아이콘 위치 조정 */
    cursor: pointer;
  }
  
  .passwordRequirements {
    font-size: 12px;
    color: #888;
    line-height: 0.7;
  }
  
  .valid {
    color: green;
  }
  
  .invalid {
    color: red;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .saveButton {
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    padding: 10px; /* 상하 패딩 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: -10px;
  }
  
  .saveButton:hover {
    opacity: 0.9;
  }
  
  .errorMessage {
    color: red; /* 에러 메시지 색상 */
    font-size: 12px; /* 에러 메시지 크기 */
  }
  