/* 사이트 배경 */
.back-img1{
    background-color: #ffffff;
    /* height: 100vh; 제거 */
    min-height: 100vh; /* 최소 높이로 변경 */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* FAQ 스타일 */
.faqContainer {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    margin-top: 150px;
    margin-bottom: 150px; /* Footer와 겹치는 문제 해결 */
}

.faqSearchAndTabs {
    display: flex; /* Flexbox 레이아웃 적용 */
    margin-bottom: 20px;
    width: 100%; /* Added to take full width */
}
  
.searchInput {
    width: 100%; /* 검색 입력창 너비 */
    padding: 8px 15px;
    border-bottom: 1px solid #e3e3e3;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    margin-right: 5px; /* 이미지 버튼과 간격 */
    margin-top: -7%;
}

.searchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 20px; /* Adjust to the image's width */
  height: auto;
  margin-left: 10px; /* 이미지와 검색창 간격 */
  margin-top: -5%;
}

.searchButton img {
  width: 100%; /* 이미지 크기를 버튼에 맞춤 */
  height: auto;
  vertical-align: middle;
}

.faqSearch {
    display: flex;
    align-items: center;
    padding-bottom: 5px; /* 줄과 검색창 사이 간격 */
    width: auto; /* Changed to auto */
    flex-grow: 1; /* Let it grow to fill available space */
}

.categoryTabs {
    display: flex;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 0px;
    /* flex-grow: 1;  주석 처리 */
    gap: 10px; /* tab 사이에 간격 10px */
    flex-wrap: wrap; /* Added to allow tabs to wrap */
}
  
.tab {
    background-color: #eee;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    color: #333;
    display: flex;
    white-space: nowrap; /* Added to prevent text from wrapping */
}
  
.activeTab {
    background-color: #e5e5e5;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
  
.tab:hover {
    background-color: #ddd;
}
  
.faqList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqCard {
    background-color: #fafafa;
    padding: 20px 20px;
    transition: box-shadow 0.3s ease;
}
  
.faqCard:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ddd;
}
  
.faqCardTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #000;
}
  
.questionMark {
    font-weight: bold;
    color: #1f1f1f;
    margin-right: 10px;
}
  
.faqCardAnswer {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    white-space: pre-wrap;
}
  
.faqCardNone {
    display: none;
}
  
.answerMark {
    font-weight: bold;
    color: #333;
    margin-right: 10px; 
}

h2 {
    margin-top: 0px;
    margin-bottom: 30px;
}
