* {
    font-family: 'Pretendard', sans-serif;
    cursor: pointer;
    
  }
  body {
    background-color: #ffffff;
  }
  
.Mypage{
  padding: 150px 400px 0px 400px;
}

.MypageTitle{
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 40px;
  color: #303030;
}

.MypageBox {
  display: flex; /* 박스를 가로로 정렬 */
}

.Box1 {
  flex: 2; /* 첫 번째 박스는 두 배 크기 */
  background-color: #fff; /* 임시 배경색 */
}

.Box2, .Box3, .Box4, .Box5 {
  flex: 1; /* 나머지 박스들은 동일한 크기 */
  background-color: #fff; /* 임시 배경색 */
}


.Box1, .Box2, .Box3, .Box4, .Box5 {
  box-shadow: 0 0 0 1px #303030; /* 박스에 테두리 효과 추가 */
  height: 130px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.ProfileBox {
  display: flex; /* Profile과 TextBox를 가로로 배치 */
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px; /* 아래 여백 */
  margin-top: 10px;
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.RateIcon {
  background-color: lightgray; /* 배경색 회색 */
  width: 45px; /* 원의 크기 */
  height: 45px; /* 원의 크기 */
  border-radius: 50%; /* 원 모양으로 만들기 */
  display: flex; /* flexbox 사용하여 텍스트 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  font-size: 20px; /* 글자 크기 */
  font-weight: 500;
  color: #303030; /* 글자 색 */
  margin-bottom: 5px;

}


.TextBox {
  display: flex;
  flex-direction: column; /* HelloBox와 RateBox 세로로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

.HelloBox {
  font-size: 18px; /* 글자 크기 */
  font-weight: 500;
}

.RateBox {
  font-size: 18px; /* 글자 크기 */
  font-weight: 400;
}

.Rate {
  font-weight: 500; /* 글자 두께 */
  text-decoration: underline; /* 언더라인 추가 */
}

.InfoEdit {
 font-size: 12px;
 color: #505050;
}




.SavingBox ,.CouponBox,.WishBox,.BoardBox{
  display: flex;
  flex-direction: column; /* SavingBox 내 요소들을 세로로 배치 */
  align-items: center; /* SavingBox 안에서 세로로 중앙 정렬 */
  padding: 10px;
}

.SavingIcon,.CouponIcon,.WishIcon,.BoardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%; /* 원 모양 */
  background-color: #fff;
  border: 1px solid black; /* 검은 테두리 */
  margin-bottom: 10px;
}

.SavingPcs,.CouponPcs,.WishPcs,.BoardPcs {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px; /* 아래 여백 */
}

.SavingTotal,.CouponTotal,.WishTotal,.BoardTotal {
  font-size: 12px;
  font-weight: 500;
  color: #505050;
}


.SavingIconcss{
  width: 22px;
  height: 22px;
  color: #303030;
}

.OrderProcessing ,.CurrentOrder{
  padding-top: 60px;
}
.OrderProcessingTitle ,.CurrentOrderTitle {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  color: #303030;
}

.StatusBox {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  height: 130px;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.Status1, .Status2,.Status3 ,.Status4{
  display: flex;
  flex-direction: column; /* SavingBox 내 요소들을 세로로 배치 */
  align-items: center; /* SavingBox 안에서 세로로 중앙 정렬 */
  padding: 0 90px;
}

.StatusNum1, .StatusNum2, .StatusNum3,.StatusNum4{
  font-weight: 500;
  font-size: 28px;
  padding-bottom: 10px;
  color: #303030;
}

.StatusNext{
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
  color: #999999;
}

.StatusText {
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

.CurrentOrderHeader {
  display: flex;
  gap: 15px;
 
}



.CurrentLine{
  border-top: 1px solid #999999;
  margin-bottom: 20px;
}

.OrderBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.OrderPhoto {
  width: 150px;
  height: 150px;
  overflow: hidden; /* 넘치는 부분을 숨김 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 0px;
}

.OrderPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 비율 유지하면서 채우기 */
}

.ProductLine {
  width: 1px; /* 선의 두께 */
  height: 130px; /* 원하는 높이 */
  background-color: #999999; /* 선 색상 */
}

.InfoBox{
  padding: 0 20px;
  height: 130px;
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: space-between; 
}

.ProductName{
  font-weight: 500;
  font-size: 18px;
  color: #303030;
  margin-bottom: 5px;
}

.ProductInfo{
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #505050;
}

.BuyInfo{
  display: flex;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #303030;
}

.OrderStatus{
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid #303030;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

.OrederInfoBox{
  display: flex;
  align-items: center;
}